<html>
    <head>
     <meta charset="UTF-8">
        <title>David Martos | Fakebook</title>
        <link rel="stylesheet"  href="style.css">
    </head>

    <body>

        <div id="navigation" align="center">
        <h1><i>FAKEBOOK</i></h1></div>
        <div class="main">
        Buscar: <input type="text" placeholder="Buscar por nombre"></div>


        <div class="capacentro">
        <h2>David Martos</h2>
             <img src="https://avatars3.githubusercontent.com/u/63253928?s=460&u=9c16f18fe098c79bb777ab4b41c5ed57be40bb56&v=4">

        <br>
        <button>Añadir amigo</button></div>

        <div class="rightmargin">
        <p><strong>Ciudad:</strong> Málaga</p>
        <p><strong>Edad:</strong> 32</p>
        <p><strong>Estudios:</strong> Programador Ninja</p>
        <p><strong>Hobby:</strong> Programar</p>
        <p><strong>Amigos en FB:</strong> 3.000</p>
        <p><strong>Enemigos en FB:</strong> 5</p></div>

    </body>
</html>